---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@font-face {
  font-family: 'HSYuji-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSYuji-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cafe24Dongdong';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Dongdong.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Cafe24Dongdong';
  .initial-content {
    margin: 2rem;
    font-size: 1.15em;

  }
  .page__content p, .page__content li, .page__content dl{
    font-size: 1.15em; //글 내용!
  }
  .body{
    font-family: 'Cafe24Dongdong';
  }
  .masthead__inner-wrap{
    font-size: 1.15em;
  }
  //.total_post_count {
  //  font-size: 1em;
  //}

  span.nav__sub-title {
    font-size: 1em;
  }

  @include breakpoint($medium) {
    .initial-content {
      margin: 4rem;
    }
  }

  @include breakpoint($large) {
    .initial-content {
      margin: 6rem;
    }
  }

  @include breakpoint($x-large) {
    .initial-content {
      margin: 6rem;
    }

  blockquote{
    font-size: 15px;
  }

  }




}

